@import "animate.css";
/* fonts */
@font-face {
    font-family: 'Montserrat-bold';
    src: url('./fonts/Montserrat-Bold.otf');
}
@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat-Medium.otf');
}
/* */


/* colors */
@lightblue: #00A4E4;
@blue: #1665A4;
@black: #272727;
@white: #ffffff;
@bricot: #08979A;
@thomas: #0088BE;
@cecile: #E77C3A;
@red: #B13712;
@blue2: #0F7197;
@lightblue2: #17AAE3;
@gray: #E7E7E7;
@darkgray: #777777;
/* */

/* break points */
@wide-screen-down: ~'(max-width: 1199px)';
@desktop-down: ~'(max-width: 991px)';
@tablet-down: ~'(max-width: 767px)';
@phone-down: ~'(max-width: 480px)';
@small-phone-down: ~'(max-width: 320px)';
/* */

body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    overflow: hidden;
}

.header.fixed {
    position: fixed;
    z-index: 99999;
    background: #ffffff;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    .spacer {
        height: 15px;
    }
    .content {
        .logo_header {
            img {
                min-height: 100px;
                height: 100px;
            }
        }
    }
}

.header {
    .spacer {
        background: @lightblue;
        display: block;
        height: 30px;
        width: 100%;
    }
    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 15px 30px;
        .logo_header {
            img {
                width: auto;
                min-height: 150px;
                height: 150px;
                transition: 1s all ease-in-out;
            }
        }
        .menu_cont {
            .menu {
                padding: 0;
                list-style: none;
                .item {
                    display: inline;
                    margin: 0 2rem;
                    .link.active {
                        border-bottom: 1px solid @darkgray;
                    }
                    .link {
                        padding: .5rem;
                        font-family: 'Montserrat';
                        text-decoration: none;
                        cursor: pointer;
                        color: @black;
                    }
                }
            }
        }
        .menu_mobile_button {
            display: none;
        }
        .menu_mobile_cont {
            display: none;
        }
    }
}

#page_home {
    height: calc(100vh - 169px);
    
    .banner {
        background: @blue;
        padding: 1rem 30px;
        position: relative;
        min-height: 500px;
    
        .floating-top {
            position: absolute;
            top: 2rem;
            left: 40px;
            img {
                height: 200px;
                width: auto;
            }
        }
        .floating-left {
            position: absolute;
            top: 160px;
            left: 30px;
            img {
                height: 180px;
                width: auto;
            }
        }
        .floating-bottom {
            position: absolute;
            top: 270px;
            left: 40px;
            img {
                height: 200px;
                width: auto;
            }
        }
        .title {
            margin-left: 300px;
            h5 {
                font-family: 'Montserrat';
                color: @white;
                font-size: 3rem;
                margin-top: 7rem;
                margin-bottom: 1rem;
                letter-spacing: .15rem;
            }
            h6 {
                font-family: 'Montserrat';
                color: @white;
                font-size: 2.25rem;
                margin-top: 0;
                margin-bottom: 0;
                letter-spacing: .15rem;
            }
        }
    
        .subtitles {
            position: relative;
            margin-top: 5rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            h4 {
                font-family: 'Montserrat-bold';
                color: @white;
                font-size: 1.5rem;
                margin-top: .5rem;
                margin-bottom: 0;
                letter-spacing: .15rem;
            }
        }
    }
}


#page_about {
    height: calc(100vh + 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;

    .title {
        font-family: 'Montserrat-bold';
        letter-spacing: 2px;
        font-size: 2.5rem;
        text-align: justify;
        margin-bottom: 1rem;
        color: @black;
    }

    p {
        font-family: 'Montserrat';
        font-size: .9rem;
        text-align: justify;
        color: @black;
    }

    .list {
        padding-left: 1rem;
    }
}

#page_ponents {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;

    .title {
        font-family: 'Montserrat-bold';
        letter-spacing: 2px;
        font-size: 2.5rem;
        text-align: justify;
        margin-bottom: 5rem;
        color: @black;
    }

    .cards {
        padding: 0 45px;
        position: relative;
        overflow: hidden;

        .prev {
            position: absolute;
            top: 45%;
            left: 0;
            cursor: pointer;
            #ponents_prev {
                .arrow {
                    width: 30px;
                }
            }
        }
        .next {
            position: absolute;
            top: 45%;
            right: 0;
            cursor: pointer;
            #ponents_next {
                .arrow {
                    width: 30px;
                    transform: rotate(180deg);
                }
            }
        }
        .bricot {
            background: @bricot;
            transition: .5s all ease-in-out;
        }
    
        .thomas {
            background: @thomas;
            transition: .5s all ease-in-out;
        }
    
        .cecile {
            background: @cecile;
            transition: .5s all ease-in-out;
        }

        .card_carousel {
            width: 350%;
        }

        .card_cont.active {
            display: inline-block;
        }
        .card_cont {
            display: none;
            width: 1010px;
            position: relative;
            transition: .5s all ease-in-out;
        }
    
        .ponent_card {
            display: flex;
            border-radius: 15px;
            width: 100%;
            height: 376px;
            .photo_block {
                width: 35%;
                background: @white;
                margin: 3rem;
                border-radius: 15px;
                display: flex;
                justify-content: center;
                align-content: flex-end;
                box-shadow: 0 5px 15px rgba(0,0,0,0.5);
                transition: box-shadow 0.3s ease-in-out;
                img {
    
                }
            }
            .text {
                display: flex;
                flex-direction: column;
                padding-top: 2rem;
                padding-right: 3rem;
                width: 65%;
                .name {
                    h1 {
                        font-family: 'Montserrat';
                        color: @white;
                        font-size: 2rem;
                    }
                }
                .description {
                    p {
                        font-family: 'Montserrat';
                        color: @white;
                        font-size: 1.05rem;
                        text-align: justify;
                    }
                }
            }
        }
    }
}

::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px @gray; 
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: @blue2;
    border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: @blue2; 
}

#page_program {
    height: calc(100vh - 149px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding-top: 149px;
    overflow-y: auto;
    padding-right: 10px;

    .title {
        font-family: 'Montserrat-bold';
        letter-spacing: 2px;
        font-size: 2.5rem;
        text-align: justify;
        margin-bottom: 1rem;
        color: @black;
    }

    .content {
        .cursotitle {
            background: @red;
            border-radius: 15px;
            padding-left: 30px;
            padding-right: 30px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            .moduletitle.active {
                border-bottom: 1px solid @white;
            }
            .moduletitle {
                font-family: 'Montserrat';
                color: @white;
                font-size: 1rem;
                cursor: pointer;
            }
        }

        #module1cont {
            transition: 1s all ease-in-out;
        }
        #module2cont {
            display: none;
            transition: 1s all ease-in-out;
        }
        #module3cont {
            display: none;
            transition: 1s all ease-in-out;
        }

        .schedule {
            background: @blue2;
            border-radius: 30px;

            .header {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 1rem 30px 1rem 30px;
                .prev {
                    cursor: pointer;
                    img {
                        height: 15px;
                    }
                }
                .schedule_title {
                    font-family: 'Montserrat';
                    color: @white;
                    font-size: 1rem;
                }
                .next {
                    cursor: pointer;
                    img {
                        height: 15px;
                        transform: rotate(180deg);
                    }
                }
            }

            .subgroup {
                background: @white;
                border-top-left-radius: 40px;
                border-top-right-radius: 40px;
                border-bottom-left-radius: 28px;
                border-bottom-right-radius: 28px;

                .turn {
                    display: flex;
                    justify-content: space-between;
                    .morning {
                        width: 40%;
                        h4 {
                            font-family: 'Montserrat';
                            color: @black;
                            font-size: 1.25rem;
                            text-align: center;
                            letter-spacing: 1px;
                        }
                    }
                    .afternoon {
                        width: 40%;
                        h4 {
                            font-family: 'Montserrat';
                            color: @black;
                            font-size: 1.25rem;
                            text-align: center;
                            letter-spacing: 1px;
                        }
                    }
                }

                .schedule_text {
                    display: flex;
                    justify-content: space-between;
                    .list_left {
                        background: @lightblue2;
                        width: 48%;
                        border-top-left-radius: 40px;
                        border-top-right-radius: 40px;
                        border-bottom-right-radius: 0;
                        border-bottom-left-radius: 40px;
                        padding-top: .5rem;

                        .close {
                            .accordeonContent {
                                height:0px;
                                transition: height 1s ease-out;
                                -webkit-transform: scaleY(0);
                                -o-transform: scaleY(0);
                                -ms-transform: scaleY(0);
                                transform: scaleY(0);
                                display:block;
                            }
                        }
                        .open {
                            .accordeonContent{
                                padding: 20px;
                                color: @white;
                                width: 100%;
                                margin: 0px 0px 10px 0px;
                                display:block;
                                -webkit-transform: scaleY(1);
                                -o-transform: scaleY(1);
                                -ms-transform: scaleY(1);
                                transform: scaleY(1);
                                -webkit-transform-origin: top;
                                -o-transform-origin: top;
                                -ms-transform-origin: top;
                                transform-origin: top;
                            
                                -webkit-transition: -webkit-transform 0.4s ease-out;
                                -o-transition: -o-transform 0.4s ease;
                                -ms-transition: -ms-transform 0.4s ease;
                                transition: transform 0.4s ease;
                                box-sizing: border-box;
                            }
                        }
                        
                        .item {
                            display: block;
                            padding-left: 2rem;
                            padding-right: 2rem;
                            padding-bottom: 1rem;
                            border-bottom: 1px solid @white;
                            position: relative;
                            p {
                                font-family: 'Montserrat';
                                color: @white;
                                font-size: .8rem;
                                text-align: left;
                                letter-spacing: 0;
                                margin-bottom: 0;
                                display: block;
                                margin-right: 30px;
                            }
                            .dropdown {
                                position: absolute;
                                right: 35px;
                                top: 5px;
                                margin-left: 1rem;
                                cursor: pointer;
                                img {
                                    width: 15px;
                                    transform: rotate(270deg);
                                }
                            }
                            .accordeonContent {
                                p {
                                    margin-bottom: 0;
                                    margin-right: 0;
                                    margin-top: 5px;
                                }
                            }
                        }
                    }

                    .vert_serparator {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        span {
                            background: @blue2;
                            height: 80px;
                            width: 1px;
                        }
                    }

                    .list_right {
                        background: @lightblue2;
                        width: 48%;
                        border-top-left-radius: 40px;
                        border-top-right-radius: 40px;
                        border-bottom-right-radius: 40px;
                        border-bottom-left-radius: 0;
                        padding-top: .5rem;

                        .close {
                            .accordeonContent {
                                height:0px;
                                transition: height 1s ease-out;
                                -webkit-transform: scaleY(0);
                                -o-transform: scaleY(0);
                                -ms-transform: scaleY(0);
                                transform: scaleY(0);
                                display:block;
                            }
                        }
                        .open {
                            .accordeonContent{
                                color: @white;
                                padding: 20px;
                                width: 100%;
                                margin: 0px 0px 10px 0px;
                                display:block;
                                -webkit-transform: scaleY(1);
                                -o-transform: scaleY(1);
                                -ms-transform: scaleY(1);
                                transform: scaleY(1);
                                -webkit-transform-origin: top;
                                -o-transform-origin: top;
                                -ms-transform-origin: top;
                                transform-origin: top;
                            
                                -webkit-transition: -webkit-transform 0.4s ease-out;
                                -o-transition: -o-transform 0.4s ease;
                                -ms-transition: -ms-transform 0.4s ease;
                                transition: transform 0.4s ease;
                                box-sizing: border-box;
                            }
                        }

                        .item {
                            display: block;
                            padding-left: 2rem;
                            padding-right: 2rem;
                            padding-bottom: 1rem;
                            border-bottom: 1px solid @white;
                            position: relative;
                            p {
                                font-family: 'Montserrat';
                                color: @white;
                                font-size: .8rem;
                                text-align: left;
                                letter-spacing: 0;
                                margin-bottom: 0;
                                margin-right: 30px;
                                display: block;
                            }
                            .dropdown {
                                position: absolute;
                                right: 35px;
                                top: 5px;
                                cursor: pointer;
                                img {
                                    width: 15px;
                                    transform: rotate(270deg);
                                }
                            }
                            .accordeonContent {
                                p {
                                    margin-bottom: 0;
                                    margin-right: 0;
                                    margin-top: 5px;
                                }
                            }
                        }
                    }

                }
            }
        }
    }
}

#page_contact {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;

    .title {
        font-family: 'Montserrat-bold';
        letter-spacing: 2px;
        font-size: 2.5rem;
        text-align: justify;
        margin-bottom: 5rem;
        color: @black;
    }   

    .content {
        display: flex;
        .contact-info {
            width: 50%;
            display: flex;
            flex-direction: column;
            .fb-follow {
                padding-top: 1rem;
                padding-bottom: 1rem;
            }
            .logo-con {
                margin-top: 2.5rem;
                img {
                    height: 110px;
                }
            }
            .info {
                display: flex;
                flex: 1;
                align-items: center;
                justify-content: space-around;
                padding: .5rem 0;
                .phone {
                    display: flex;
                    align-items: center;
                    flex: .5;
                    justify-content: flex-start;
                    .logo {
                        width: 75%;
                        padding-left: 2rem;
                    }
                    img {
                        width: 25px;
                        margin-right: .5rem;
                    }
                    .follow {
                        font-size: 1.15rem;
                        font-weight: 600;
                    }
                    span {
                        font-family: 'Montserrat';
                        color: @black;
                    }
                }
                .email {
                    display: flex;
                    align-items: center;
                    flex: .5;
                    justify-content: flex-start;
                    .fb {
                        width: 40px;
                        border-radius: 40px;
                        background: transparent;
                        cursor: pointer;
                        box-shadow: 0 1px 2px rgba(0,0,0,0.15);
                        transition: box-shadow 0.3s ease-in-out;
                    }
                    .fb:hover {
                        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
                    }
                    img {
                        width: 25px;
                        margin-right: .5rem;
                    }
                    span {
                        font-family: 'Montserrat';
                        color: @black;
                    }
                }
            }
        }
        
        .form {
            width: 50%;
            .content {
                border-radius: 15px;
                border: 1px solid @gray;
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                padding-left: 30px;
                padding-right: 30px;
                .title {
                    font-family: 'Montserrat';
                    font-size: 1.25rem;
                    text-align: center;
                    margin-bottom: 1.5rem;
                }

                .form-row {
                    margin-bottom: 1rem;
                    display: flex;
                    justify-content: flex-end;
                    input {
                        border-radius: 10px;
                        border: 1px solid @darkgray;
                        color: @black;
                        font-family: 'Montserrat';
                        padding: .5rem 1rem;
                        width: 100%;
                    }
                    textarea {
                        border-radius: 10px;
                        border: 1px solid @darkgray;
                        color: @black;
                        font-family: 'Montserrat';
                        padding: .5rem 1rem;
                        width: 100%;
                        height: 100px;                        
                    }

                    .submit-button {
                        border-radius: 10px;
                        background: none;
                        border: 1px solid @darkgray;
                        padding: .5rem 1rem;
                        font-family: 'Montserrat';
                        box-shadow: 0 1px 2px rgba(0,0,0,0.15);
                        transition: box-shadow 0.3s ease-in-out;
                        cursor: pointer;
                    }
                    .submit-button:hover {
                        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
                    }
                }
                .form-row2 {
                    margin-bottom: 1rem;
                    display: flex;
                    justify-content: space-between;
                    input {
                        border-radius: 10px;
                        border: 1px solid @darkgray;
                        color: @black;
                        font-family: 'Montserrat';
                        padding: .5rem 1rem;
                        width: 42%;
                    }
                }
            }
        }
    }
}


@media @wide-screen-down {  }
@media @desktop-down {  }
@media @tablet-down {  }
@media @phone-down { 
    body {
        overflow: auto;
    }

    .header.fixed .content .logo_header img {
        min-height: 70px;
        height: 70px;
    }

    .header {
        .spacer {
            height: 10px;
        }
        .content {
            padding: 10px 15px;
            .logo_header {
                img {
                    min-height: 70px;
                    height: 70px;
                }
            }

            .menu_cont {
                display: none;
                .menu {
                    .item {
                        .link {
                            font-size: .8rem;
                        }
                    }
                }
            }
            .menu_mobile_button {
                display: block;
                img {
                    height: 30px;
                }
            }
            .menu_mobile_cont {
                transition: 1s all ease-in-out;
                &.open {
                    display: flex;
                    position: fixed;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    justify-content: center;
                    align-items: center;
                    z-index: 999;
                    background: @white;
                }
                &.close {
                    display: none;
                    transition: 1s all ease-in-out;
                }
                .menu_mobile {
                    list-style: none;
                    transition: 1s all ease-in-out;
                    .item {
                        transition: 1s all ease-in-out;
                        margin-top: 2rem;
                        .link {
                            transition: 1s all ease-in-out;
                            padding: .5rem;
                            font-family: 'Montserrat';
                            text-decoration: none;
                            cursor: pointer;
                            color: @black;
                        }
                    }
                }
                .close_menu_button {
                    position: absolute;
                    top: 5%;
                    right: 5%;
                    img {
                        height: 25px;
                    }
                }
            }
        }
    }

    #page_home {
        height: auto;
        .banner {
            min-height: calc(100vh - 134px);
            .floating-top {
                left: 20px;
                img {
                    height: 100px;
                }
            }
            .floating-left {
                top: 90px;
                left: 15px;
                img {
                    height: 90px;
                }
            }
            .floating-bottom {
                top: 140px;
                left: 20px;
                img {
                    height: 100px;
                }
            }
            .title {
                margin-left: 110px;
                h5 {
                    font-size: 1rem;
                    margin-top: 4rem;
                    text-align: center;
                }
                h6 {
                    font-size: .8rem;
                    text-align: right;
                }
            }    
            .subtitles {
                position: absolute;
                bottom: 4rem;
                width: 85%;
                align-items: center;
                h4 {
                    font-size: .75rem;
                }
            }   
        }
    }

    #page_about {
        height: auto;
        padding: 0 15px;
        width: 90%;
        .title {
            font-size: 1.5rem;
        }
        p {
            text-align: left;
        }
    }

    #page_ponents {
        height: auto;
        padding: 0 15px;
        width: 90%;
        .title {
            font-size: 1.5rem;
        }
        .cards {
            padding: 0 25px;
            .prev {
                #ponents_prev {
                    .arrow {
                        width: 20px;
                    }
                }
            }
            .next {
                #ponents_next {
                    .arrow {
                        width: 20px;
                    }
                }
            }
            .ponent_card {
                flex-direction: column;
                height: auto;
                align-items: center;

                .photo_block {
                    margin: .5rem;
                    width: 90%;
                    display: block;
                    img {
                        width: 100%;
                        object-fit: contain;
                        display: block;
                    }
                }

                .text {
                    padding-right: 0;
                    width: 90%;
                    .name {
                        h1 {
                            font-size: 1.10rem;
                        }
                    }
                    .description {
                        p {
                            font-size: .9rem;
                            text-align: left;
                        }
                    }
                }
            }
        }
    }

    #page_program {
        height: auto;
        padding: 0 15px;
        width: 90%;
        .title {
            font-size: 1.5rem;
        }
        .content {
            .schedule {
                .header {
                    .schedule_title {
                        font-size: 1rem;
                        text-align: center;
                    }
                    .prev {
                        img {
                            height: 20px;
                        }
                    }
                    .next {
                        img {
                            height: 20px;
                        }
                    }
                }
                .subgroup {
                    .schedule_text {
                        flex-direction: column;

                        .list_left {
                            width: 100%;
                            border-bottom-right-radius: 40px;
                            margin-bottom: 1rem;
                        }
                        .vert_serparator {
                            display: none;
                        }
                        .list_right {
                            width: 100%;
                            border-bottom-left-radius: 40px;
                            padding-bottom: 1rem;
                        }
                    }
                }
            }
        }
    }

    #page_contact {
        height: auto;
        padding: 0 15px;
        width: 90%;
        .title {
            font-size: 1.5rem;
            margin-bottom: 2rem;
            margin-top: 3rem;
        }
        .content {
            flex-direction: column;

            .contact-info {
                width: 100%;
                order: 2;
                .info {
                }
                .fb-follow {
                    .email {
                        justify-content: center;
                    }
                }
                .logo-con {
                    text-align: center;
                    img {
                        height: 70px;
                    }
                }
            }

            .form {
                width: 100%;
                order: 1;
                margin-bottom: 1rem;
            }
        }
    }
 }

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff; 
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-family: 'Montserrat';
}
  
#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
  
  
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}
  
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
  
@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}
  
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}